[submodule "lib/gca-plus"]
	path = lib/gca-plus
	url = https://github.com/IanBand/gca-plus.git
	ignore = dirty
[submodule "lib/raylib"]
	path = lib/raylib
	url = https://github.com/raysan5/raylib.git
	ignore = untracked
[submodule "lib/ggpo"]
	path = lib/ggpo
	url = https://github.com/Shugyousha/ggpo.git
	branch = libsdlvw-rfc
	ignore = untracked
[submodule "lib/libfixmath"]
	path = lib/libfixmath
	url = https://github.com/IanBand/libfixmath.git
	ignore = untracked
